<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVCDemo:war exploded">
    <output-path>$PROJECT_DIR$/web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVCDemo" />
        </element>
        <element id="directory" name="lib" />
      </element>
      <element id="javaee-facet-resources" facet="springMVCDemo/web/Web" />
    </root>
  </artifact>
</component>